@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}
<div class="inner cover text-center">

    <h1 class="cover-heading">@Localizer["Headline"]</h1>
    <p class="lead">@Localizer["IndexText"]</p>
<p class="lead">
        <a class="btn btn-lg btn-secondary" asp-area="" asp-controller="SortedNumbers" asp-action="Index">Sort History</a>
        <a class="btn btn-lg btn-secondary" asp-area="" asp-controller="SortedNumbers" asp-action="Create">Sort Numbers</a>
    </p>
</div>

