@model CSI_Number_Sorter.Models.SortedNumbers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

    <h1>@Localizer["Headline"]</h1>

    <h4>@Localizer["SubHeadline"]</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form class="center" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class=" col-xs-12 form-group">
                    <label asp-for="Numbers" class="control-label"></label>
                    <textarea asp-for="Numbers" class="form-control"></textarea>
                    <span asp-validation-for="Numbers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SortOrder" class="control-label"></label>
                    @Html.DropDownList("SortOrder",
                        ViewBag.List as IEnumerable<SelectListItem>,
                        new { @class = "form-control" })
                    <span asp-validation-for="SortOrder" class="text-danger"></span>
                </div>

                <div class="col-xs-12 form-group">
                    <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-primary">@Localizer["Back"]</a>
                </div>
            </form>
            
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
